.container{
    width: 80%;
    margin: 0 auto;
    
}
header{
    background: #000000;
    
    
}
  nav h1 {
    float: right;
    padding-right: 30px;
    padding-bottom: 7px;
    
    background-image: linear-gradient(180deg, #2af598 0%, #009efd 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-family: 'Lato';
 }
 nav i {
    float: right;
    padding-right: 70px;
    padding-bottom: 7px;
    padding-top: 20px;
    font-size:40px ;
    
    
    background-image: linear-gradient(180deg, #2af598 0%, #009efd 100%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-family: 'Lato';
    
 }

 nav i {
    color:wheat
 }


nav {
    position: fixed;  z-index: 10;
    width: 80%;
    
    
    
}
nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
nav li {
    
    margin:  0  70px;
    padding-top: 20px;
    font-family: 'Lato';
    display: inline-block;
    
}
nav a{
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    font-size: x-large;
    /*background: linear-gradient(315deg, #20bf55 0%, #01baef 74%);*/
    background: linear-gradient(90deg, rgb(197, 4, 129) 0%, rgba(251,1,1,1) 49%, rgb(194, 4, 137) 100%);
    
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text; 
    transition: all 0.6s linear;
    height: 100%;
    
}
nav a:hover {
    background:  rgb(255, 0, 0);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text; 
    border-bottom: #fc5e03 solid 2px;
    
}
nav a:active{
    border-bottom: #ffffff solid 4px;
}
body {
    overflow-x: hidden;
  
    user-select: none;
}

  

  
  
  #vat {
      display: inline-block;
      justify-content: space-evenly;
      z-index: 1;
  }
  .stopwatch {
      z-index: 2;
      background-color: #a40606;
background-image: linear-gradient(315deg, #a40606 0%, #d98324 74%);

      transform: translate(50%,-150%);
      width: 30%;
      height: 300px;
      border-radius: 20px;
      font-family: 'Lato';
      color: whitesmoke;
  }
  .stopwatch h1 {
    transform: translate(29%,30%);
      
  }
.links {
    color: black;
    border-radius: 20px;
    transition: all 0.5s ease;
    border: none;
    font-size: 25px;
    width: 100px;
    transform: translate(115%,400%);
    outline: none
}
.links:hover{
    background-color: black;
    color: wheat;
}
.stopwatch p {
    font-size: 25px;
    transform: translate(17%,200%);
}
.ide{
    z-index: 2;
    background-color: #a40606;
background-image: linear-gradient(315deg, #a40606 0%, #d98324 74%);

    transform: translate(200%,-256%);
    width: 30%;
    height: 300px;
    border-radius: 20px;
    font-family: 'Lato';
    color: whitesmoke;
}
.ide h1 {
  transform: translate(29%,30%);
    
}


.ide p {
  font-size: 25px;
  transform: translate(17%,200%);
}